<div class='post'>
  <h2><%= @post.title %></h2>
  <div class='postcontent'><%=raw @post.content %></div>
</div>

<%= render @comments %>

<% if user_signed_in? %>
  <div class='post'>
    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_area :content %>
      <div class='form-actions'>
        <%= f.button 'Comment', :class => 'btn' %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class='post'>
    <%= link_to "Sign in with Facebook", '#', :id => 'facebook-login' %>
  </div>
<% end %>